[run]
source =
    eppelheim/
    heidelberg/
    koeln/
    mannheim/
    stuttgart/
    ulm/
omit =
    */virtualenv/*
    */pyopenmensa/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    if settings\.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
