venv
*.pyc
staticfiles
.env
db.sqlite3
pyopenmensa
__pycache__
mensahd/__pycache__
heidelberg/__pycache__
heidelberg/pyopenmensa
koeln/__pycache__
koeln/pyopenmensa
mannheim/__pycache__
mannheim/pyopenmensa
stuttgart/__pycache__
stuttgart/pyopenmensa
eppelheim/__pycache__
eppelheim/pyopenmensa
ulm/__pycache__
ulm/pyopenmensa
/Pipfile
heidelberg/.password.txt
open-mensa-v2.xsd
tests/open-mensa-v2.xsd
tests/pyopenmensa

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
