venv
*.pyc
staticfiles
.env
db.sqlite3
mensahd/__pycache__
pyopenmensa/__pycache__
heidelberg/__pycache__
koeln/__pycache__
mannheim/__pycache__
stuttgart/__pycache__
eppelheim/__pycache__
/Pipfile
heidelberg/.password.txt
