venv
*.pyc
staticfiles
.env
db.sqlite3
pyopenmensa
__pycache__
mensahd/__pycache__
heidelberg/__pycache__
heidelberg/pyopenmensa
mannheim/__pycache__
mannheim/pyopenmensa
stuttgart/__pycache__
stuttgart/pyopenmensa
eppelheim/__pycache__
eppelheim/pyopenmensa
ulm/__pycache__
ulm/pyopenmensa
luxembourg/__pycache__
luxembourg/pyopenmensa
luxembourg/utils.py
luxembourg/cache
uploadCache.py
/Pipfile
heidelberg/.password.txt
mannheim/.password.txt
tests/open-mensa-v2.xsd
tests/pyopenmensa
winenv.bat
codacy-coverage-reporter-assembly.jar

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
