name: Test xml meta and feeds

on:
- workflow_dispatch
- push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install nose
        pip install coverage
        pip install coveralls
    - name: Run tests
      run: coverage run -a tests/test_all.py
      env:
        HEIDELBERG_AUTH: ${{ secrets.HEIDELBERG_AUTH }}
        MANNHEIM_AUTH: ${{ secrets.MANNHEIM_AUTH }}
        LUXEMBOURG_PROXY: ${{ secrets.LUXEMBOURG_PROXY }}
    - name: Coveralls
      run: |
        coveralls
        coverage xml
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Codacy Coverage Reporter
      uses: codacy/codacy-coverage-reporter-action@v1.3.0
      with:
        project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
        coverage-reports: coverage.xml
